body {
    background-color: #E5E5E5;
    margin: 0px;
}

.profile {
    width: 50px;
}
.logo {
    width: 144px;
    margin-left: 50px;
}
.home {
    height: 40px;
    padding: 10px;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}
.logos {
    display: flex;
    margin-right: 50px;
}
.navbar {
    padding-left: 10%;
    padding-right: 10%;
    background-color: white;
    margin-top: 8px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;  
}
.nav {
    padding-top: 25px;
    padding-bottom: 25px;   
}
.elements {
    /* padding-left: 10%;
    padding-right: 10%; */
    display: flex;
    /* grid-template-columns: auto auto auto auto; */
    /* justify-content: space-evenly; */
    margin: 2%;
}
.element {
    border-radius: 13px;
    width: 80%;
    text-align: center;
    padding: 20px;
    /* padding-left: 8%;
    padding-right: 8%; */
    margin: 1%;
}
#e1 {
    background-color: #3BAAAE;
}
#e2 {
    background-color: #EF6857;
}
#e3 {
    background-color: #2C92E2;
}
#e4 {
    background-color: #877AA8;
}

.element h1 {
    margin: 0px;
    color: white;
    font-size: 40px;
    font-weight: 700;
}
.element p {
    margin: 0px;
    color: black;
    font-size: 22px;
    font-weight: 700;
    color: #4F5051;
    
}
table {
    border:3px solid #C4C4C4;
    width: 90%;
    text-align: center;
    border-collapse: collapse;
    
}
td, th {
    border-bottom: 1px solid #C4C4C4;
    height: 35px;
    font-style: italic;
}
.top {
    background-color: white;
    display: flex;
    margin: 5%;
    justify-content: center;
    padding: 2%;
}
.topsell {
    width: 50%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* align-content: center; */
    flex-direction: column;
    /* padding: auto; */
    text-align: center;
    /* margin: auto; */
}
.topsell p {
    font-weight: 700;
    color: #4F5051;
    font-size: 25px;
}